<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product </title>
</head>
<body>
    <div class="panel-heading">
        <h1 th:text="${product.name}"></h1>
    </div>
    <div class="row panel-footer">
        <div th:inline="text" class="col-md-2">Цена: [[${product.price}]] $</div>
        <div th:inline="text" class="col-md-9">В наличии: [[${product.count}]]</div>
        <div>
            <input type="number" value="1" maxlength="${product.count}" minlength="1">
        </div>
        <a th:href="@{'/shoppingCart/addProduct/{id}'(id=${product.id})}" class="col-md-1">
            <button type="button" class="btn btn-primary" >Добавить в корзину</button>
        </a>
    </div>
<div>
    <h4>Удалить товар</h4>
    <form th:action="@{'delete/{id}' (id=${product.id})}" method="post">
        <input type="submit" value="Удалить товар">
    </form>
</div>
</body>
</html>